<template>
    <v-app>
        <v-container>
            <v-row no-gutters>
                <v-col
                    cols="12"
                    sm="6"
                    md="6"
                >
                    <v-img
                        contain
                        max-height="500"
                        max-width="600"
                        src="../assets/me.jpg"
                    ></v-img>
                </v-col>
                <v-col
                    cols="6"
                    md="6"
                >
                    <v-card
                        class="pa-2 "
                        outlined
                        tile
                    >
                        <h1 class="font-weight-black">Hi, I`m Mirsaid.  </h1>
                        <h1 class=" font-weight-light">Full-stack web developer</h1>
                    </v-card>
                    <v-card class="pa-5 mt-lg-16">
                        <v-btn class="mr-10" href="https://t.me/miirsaid" target="_blank">
                            <v-icon size="30">
                                mdi-telegram
                            </v-icon>
                        </v-btn>

                        <v-btn class="mr-10" href="mailto:akhmedovmirik@gmail.com" target="_blank">
                            <v-icon size="30">
                                mdi-email
                            </v-icon>
                        </v-btn>

                        <v-btn href="https://gitlab.com/MirikAkhmedov" target="_blank">
                            <v-icon size="30">
                                mdi-gitlab
                            </v-icon>
                        </v-btn>
                    </v-card>
                </v-col>

            </v-row>

        </v-container>
    </v-app>
</template>

<script>

export default {
    name: 'Home',

}
</script>
