<template>
    <v-app>
        <v-container>
            <div class="header">
                <h1 >My Skills</h1>
            </div>
            <v-row  class="text-center mt-7" >
                <v-col
                    v-for="language in languages"
                    cols="12"
                    sm="6"
                    md="4"
                >

                    <v-card>
                        <v-img
                            class="imageclass mb-4"
                            :src="language.img"
                            contain
                            max-height="100"
                            max-width="200"
                        >

                        </v-img>
                        <h1>{{language.name}}</h1>
                        <p>{{language.description}}</p>
                    </v-card>
                </v-col>

            </v-row>
        </v-container>
    </v-app>
</template>

<script>
export default {
    data:() => ({
        languages: [
            {
                name: 'HTML 5',
                img: require('../assets/skills/html.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'CSS 3',
                img: require('../assets/skills/css.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'Javascript',
                img: require('../assets/skills/javascript.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'PHP',
                img: require('../assets/skills/php.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'MySQL',
                img: require('../assets/skills/mysql.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'git',
                img: require('../assets/skills/git.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'Laravel',
                img: require('../assets/skills/laravel.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'VueJS',
                img: require('../assets/skills/vuejs.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            },
            {
                name: 'Vuetify',
                img: require('../assets/skills/vuetify.png'),
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid commodi consequatur cum distinctio dolore dolorum, error illo incidunt ipsam ipsum maxime nostrum pariatur perspiciatis praesentium quis quos vel vitae?'
            }
        ]
    })
}
</script>

<style scoped>
.header {
    text-align: center;
    position: relative;
}

.header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 150px;
    background-color: #2ecc71;
}
.imageclass {
    left: 50%;
    transform: translateX(-50%);
}
</style>