<template>
    <v-app>
                <div class="overflow-hidden">
                    <v-app-bar
                        absolute
                        color="#6A76AB"
                        dark
                        shrink-on-scroll
                        prominent
                        src="@/assets/background.jpg"
                        fade-img-on-scroll
                        scroll-target="#scrolling-techniques-4"
                    >
                        <template v-slot:img="{ props }">
                            <v-img
                                v-bind="props"
                            ></v-img>
                        </template>
                        <!--                        <v-app-bar-nav-icon/>-->
                        <v-spacer/>
                        <v-toolbar-title>

                        </v-toolbar-title>

                        <v-spacer/>


                        <v-btn icon @click="search = !search">
                            <v-icon>mdi-magnify</v-icon>
                        </v-btn>

                        <v-text-field
                            v-if="search"
                            v-model="google"
                            id="input" type="search"
                            placeholder="Search"
                            aria-label="Search"

                        />


                        <v-menu
                            bottom
                            left
                        >
                        </v-menu>

                        <template v-slot:extension>
                            <v-tabs align-with-title>
                                <v-tab to="/">
                                    Home
                                </v-tab>

                                <v-tab to="/contact">
                                    Contact us
                                </v-tab>

                                <v-tab to="/resume">
                                    Resume
                                </v-tab>

                                <v-tab to="/skills" v-text="'skills'">
                                    <router-link to="/skills"/>
                                </v-tab>
                            </v-tabs>
                        </template>
                    </v-app-bar>
                </div>
    </v-app>
</template>


<script>

export default {
    name: 'Home',
    data:() => ({
        search: false,
        google: ''
    }),
    methods: {

        searchButton() {
            // alert('search google (press /) ')
            return `https://google.com/search?q=${this.google.value}`
        }
    },

}
</script>
